


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 40px;
}

.card {
    background-color:  #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 750px;

}

.make-it-dark{
        background-color:  #1A174F;

}

.add-bg-test{

    background-image: url('../imgs/testing-bg.png');
    background-size: cover;
    background-position: center;

}

.full-width{
    width:100%;
    margin: auto;
    text-align: center;
    
}


[g^="clip-path"][g*="__lottie_element_465"] {
    opacity: 0.2;
}

